{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'donasi/styles/donasi.css' %}">
    <title>Daftar Program Donasi - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if pd_list %}
                <div class="card-deck">
                    {% for pd in pd_list %}
                    <div class="card flex-item-3 text-white bg-green-dark">
                        <img class="card-img-top" src="{{ pd.link_gambar }}" alt="Program Donasi Image">
                        <div class="card-header">
                            {{ pd.judul }}
                        </div>
                        <div class="card-body">
                            <p>{{ pd.deskripsi }}</p>
                        </div>
                        <div class="card-upper-footer">
                            <ul class="fa-ul">
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-money-bill-alt"></i></span>: Rp. {{ pd.target_donasi }}</li>
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-user-circle"></i></span>: {{ pd.inisiator.name }}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'donasi:detail-program-donasi' pd.id %}" class="btn bg-green-light">
                                <button class="btn bg-green-light">Donasi</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="jumbotron bg-green-dark text-white text-justify">
                    <h1>Belum ada program donasi yang bisa anda ikuti</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}