{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'donasi/styles/donasi.css' %}">
    <title>Daftar Donatur {{ pd_detail.judul }} - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-green-dark">
                    <img class="card-img-top" src="{{ pd_detail.link_gambar }}" alt="Program Donasi Image">
                    <div class="card-header">
                        {{ pd_detail.judul }}
                    </div>
                    <div class="card-body">
                        <p>{{ pd_detail.deskripsi }}</p>
                    </div>
                    <div class="card-upper-footer">
                        <ul class="fa-ul">
                            <li class="card-text"><span class="fa-li" ><i class="fas fa-money-bill-alt"></i></span>: Rp. {{ pd_detail.target_donasi }}</li>
                            <li class="card-text"><span class="fa-li" ><i class="fas fa-user-circle"></i></span>: {{ pd_detail.inisiator.name }}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'donasi:detail-program-donasi' pd_detail.id %}" class="btn bg-green-light">
                            <button class="btn bg-green-light">Donasi</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-green-dark">
                    <div class="card-header">
                        <h1>Daftar donatur</h1>
                    </div>
                    <div class="card-body">
                        {% if daftar_donasi %}
                        <ul>
                            {% for donasi in daftar_donasi %}
                            <li class="card-text">
                                {{ donasi.nama }}, sebesar Rp. {{ donasi.jumlah_donasi }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <h3>Belum ada yang berdonasi untuk program ini.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}