{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'donasi/styles/donasi.css' %}">
    <title>{{ pd_detail.judul }} - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-green-dark">
                    <img class="card-img-top" src="{{ pd_detail.link_gambar }}" alt="Program Donasi Image">
                    <div class="card-header">
                        {{ pd_detail.judul }}
                    </div>
                    <div class="card-body">
                        <p>{{ pd_detail.deskripsi }}</p>
                    </div>
                    <div class="card-upper-footer">
                        <ul class="fa-ul">
                            <li class="card-text"><span class="fa-li" ><i class="fas fa-money-bill-alt"></i></span>: Rp. {{ pd_detail.target_donasi }}</li>
                            <li class="card-text"><span class="fa-li" ><i class="fas fa-user-circle"></i></span>: {{ pd_detail.inisiator.name }}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'donasi:daftar-donatur-program-donasi' pd_detail.id %}" class="btn bg-green-light">
                            <button class="btn bg-green-light">Daftar Donatur</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-green-dark">
                    <div class="card-header">
                        <h1>Mari berdonasi!</h1>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'donasi:detail-program-donasi' pd_detail.id %}" method="POST">
                            {% csrf_token %}
                            {{ donasi_form.program_donasi.as_hidden }}
                            {{ donasi_form.donatur.as_hidden }}
                            {% if error_akun %}
                            <p>{{ error_akun }}</p>
                            {% endif %}
                            <div class="form-group">
                                {{ donasi_form.nama.label_tag }}
                                {{ donasi_form.nama }}
                            </div>
                            <div class="form-group">
                                {{ donasi_form.email.label_tag }}
                                {{ donasi_form.email }}
                            </div>
                            <div class="form-group">
                                {{ donasi_form.jumlah_donasi.label_tag }}
                                {{ donasi_form.jumlah_donasi }}
                            </div>
                            <span>{{ donasi_form.anonim }} Saya tidak ingin nama saya ditunjukkan di daftar donatur</span>
                            <button type="submit" class="save btn bg-green-light">Donasi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}