{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'akun/styles/akun.css' %}">
    <title>Registrasi Sukses - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron bg-green-dark text-white text-justify">
                <h1>Registrasi sukses dilakukan!</h1>
                <p class="lead">
                    Anda akan diarahkan ke halaman program donasi dalam 5 detik. 
                    Silakan klik di <a href="{% url 'donasi:daftar-program-donasi' %}">sini</a> jika browser Anda tidak mengarahkan Anda.
                </p>
            </div>
        </div>
    </div>
    <script>
        function redirect(){
            window.location.href = "{% url 'donasi:daftar-program-donasi' %}";
        }
    
        setTimeout(redirect, 3000);
    </script>
{% endblock %}
