{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'akun/styles/akun.css' %}">
    <title>Registrasi - Perak Funding</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'akun/images/registrasi-0.jpg'%}" class="img-fluid img-border" alt="Ilustrasi Perak Funding 1">
            <img src="{% static 'akun/images/registrasi-1.jpg'%}" class="img-fluid img-border" alt="Ilustrasi Perak Funding 2">
        </div>
        <div class="col-sm-6">
            <div class="card text-white bg-green-dark">
                <div class="card-header">
                    <h1>Daftar dan jadilah bagian dari perubahan!</h1>
                </div>
                <div class="card-body">
                    <form action="{% url 'akun:registrasi' %}" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ registrasi_form }}
                        </div>
                        <button type="submit" class="save btn bg-green-light">Daftar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}