{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'berita/styles/berita.css' %}">
    <title>Daftar Berita - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if berita_list %}
                <div class="card-deck">
                    {% for berita in berita_list %}
                    <div class="card flex-item-3 text-white bg-green-dark">
                        <img class="card-img-top" src="{{ berita.link_gambar }}" alt="News Image">
                        <div class="card-header">
                            <h1>{{ berita.judul }}</h1>
                        </div>
                        <div class="card-body">
                            <p>{{ berita.deskripsi }}</p>
                        </div>
                        <div class="card-footer">
                            {% if not berita.jumlah_program_donasi %}
                            <p class="alert alert-danger"> 
                                <strong>Maaf, </strong>belum ada Program Donasi yang terkait dengan berita ini.
                            </p>
                            {% else %}
                            <p class="alert alert-success">
                                <strong>Donasi Sekarang!</strong> Lihat daftar program donasi yang ada dapat ikuti.
                            </p>
                            <a href="{% url 'berita:daftar-program-donasi-dari-berita' berita.id %}" class="btn bg-green-light">
                                <button class="btn bg-green-light">Daftar Program Donasi</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="jumbotron bg-green-dark text-white text-justify">
                    <h1>Belum ada berita apapun saat ini</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}