{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'berita/styles/berita.css' %}">
    <title>Program Donasi Terkait {{ berita.judul }} - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card flex-item-3 text-white bg-green-dark">
                    <img class="card-img-top" src="{{ berita.link_gambar }}" alt="News Image">
                    <div class="card-header">
                        <h1>{{ berita.judul }}</h1>
                    </div>
                    <div class="card-body">
                        <p>{{ berita.deskripsi }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-white">
                {% if daftar_program_donasi %}
                <h1>Program Donasi yang terkait</h1>
                <div class="card-deck">
                    {% for pd in daftar_program_donasi %}
                    <div class="card flex-item-1 text-white bg-green-dark">
                        <img class="card-img-top" src="{{ pd.link_gambar }}" alt="Program Donasi Image">
                        <div class="card-header">
                            {{ pd.judul }}
                        </div>
                        <div class="card-body">
                            <p>{{ pd.deskripsi }}</p>
                        </div>
                        <div class="card-upper-footer">
                            <ul class="fa-ul">
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-money-bill-alt"></i></span>: Rp. {{ pd.target_donasi }}</li>
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-user-circle"></i></span>: {{ pd.inisiator.name }}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'donasi:detail-program-donasi' pd.id %}" class="btn bg-green-light">
                                <button class="btn bg-green-light">Donasi</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="jumbotron bg-green-dark text-white text-justify">
                    <h1>Tidak ada Program Donasi yang terkait dengan berita ini</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}