html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 125px;
}

.bg-grey {
    background-color: #738290
}

.bg-green-dark {
    background-color: #183A37
}

.bg-green-light {
    background-color: #13C4A3
}

.text-justify {
    text-align: justify;
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.spacer {
    width: 5px;
    height: 15px;
    display: inline-block;
}

.hidden {
    display: none;
}

.active-nav-item {
    border-bottom: 3px solid red;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    max-height: 120px;
}

.footer > .container {
    margin-top: 0px;
    margin-bottom: 0px;
}