.flex-item-1 {
    flex: 1 0 100% !important;
    margin: 15px;
}

.flex-item-3 {
    flex: 1 0 30% !important;
    margin: 15px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}