{% extends "base.html" %}
{% load static %}

{% block additional_head %}
    <title>Halaman Tidak Ditemukan - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron bg-green-dark text-white text-justify">
            <h1>Halaman tidak ditemukan!</h1>
        </div>
        <div class="spacer"></div>
    </div>
{% endblock %}