<footer class="footer bg-green-light text-white">
    <div class="d-flex flex-wrap bg-green-light">
        <div class="col-sm-2">
            <ul class="list-unstyled">
                <li><h3>Perak Funding</h3></li>
                <li>About Us</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <li><h4>Contact Us</h4></li>
                <li>Phone : +021 xxxxxxx</li>
                <li>Email : contact@perakfunding.com</li>
            </ul>
        </div>
        </div>
    </div>
</footer>