{% load static %}
<nav class="header navbar navbar-expand-lg sticky-top navbar-dark bg-green-light">
    <a class="navbar-brand" href="{% url 'akun:homepage' %}">
        Perak Funding
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active {% if request.resolver_match.url_name == 'daftar-program-donasi' %}active-nav-item{% endif %}">
                <a class="nav-link" href="{% url 'donasi:daftar-program-donasi' %}">Program Donasi</a>
            </li>
            <li class="nav-item active {% if request.resolver_match.url_name == 'daftar-berita' %}active-nav-item{% endif %}">
                <a class="nav-link" href="{% url 'berita:daftar-berita' %}">Berita</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item active {% if request.resolver_match.url_name == 'registrasi' %}active-nav-item{% endif %}">
                <a class="nav-link" href="{% url 'akun:registrasi' %}">Registrasi</a>
            </li>
        </ul>
    </div>
</nav>