{% extends "base.html" %}
{% load static %}

{% block additional_head %}
    <title>Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron bg-green-dark text-white text-justify">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid rounded" alt="Logo">
                </div>
                <div class="col-sm-8">
                    <h1>Gabung dan jadilah bagian dari perubahan!</h1>
                    <p class="lead">
                        Perak Funding memfasilitasi anda yang berjiwa sosial untuk membantu saudara-saudara kita yang membutuhkan
                        dengan transparansi yang jelas.
                    </p>
                    <p>Jadi, tunggu apa lagi? Daftar sekarang!.</p>
                    <p class="lead">
                        <a class="btn btn-lg bg-green-light text-white" href="{% url 'akun:registrasi' %}" role="button">Register</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
{% endblock %}